
header{
    color:red;
    font-size:  40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient( to top, rgb(131, 70, 70),rgb(156, 83, 123)  );
    text-align: center;
}


a{
     color: #cc0000;
}

a:hover{
background-color: #cc0000;
color: #fff;

}
a:visited{
    color: #ccc
}
h1{
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.foto{
    float: left;
}

.ppp{
    margin-left: 20px;
    float: left;
    border-style: solid;
    border-color: coral;
    background: linear-gradient(to left, rgb(201, 106, 106), rgb(146, 81, 81));
   
}

.fons{
    background-image: url(fons.jpg);
    background-repeat: repeat;


}

.link{

    float: left;
    margin-left: 20px;
    background: radial-gradient(circle, rgb(201, 201, 44), rgb(182, 46, 46) , rgb(247, 163, 7) );
}