
header{
    color:red;
    font-size:  40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: chartreuse;
    text-align: center;

}

h1{
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.foto{
    float: left;
}

.ppp{
    margin-left: 20px;
    float: left;
    border-style: solid;
    border-color: coral;
    background: linear-gradient(to left, rgb(247, 1, 1), rgb(146, 81, 81));
   
}

.fons{
    background-image: url(fons.jpg);
    background-repeat: repeat;


}

.link{

    float: left;
    margin-left: 20px;
    background: radial-gradient(circle, rgb(201, 201, 44), grey , orange );
}